:root {
    --primaryTextColor: #212529;
    --primaryColor: #f7f7f7;
    --secondaryColor: #EBEBEB;
    --accentColor: #818181;
}
html[data-theme='light'] {
    --primaryTextColor: #212529;
    --primaryColor: #f7f7f7;
    --secondaryColor: #EBEBEB;
    --accentColor: #818181;
}

html[data-theme='dark'] {
    --primaryTextColor: #f7f7f7;
    --primaryColor: #212529;
    --secondaryColor: #353535;
    --accentColor: #b3c8d6;
}
/* Reset everything */

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

/***************************
Overwrite default properties
****************************/

body {
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--primaryTextColor);
    background-color: var(--primaryColor);
}

h1, h2, h3, h4, h5, h6, strong {
    color: var(--primaryTextColor);
    font-family: 'Raleway', sans-serif;
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}

p, li, span, label, input, textarea { color: var(--primaryTextColor); }

p, ul {
    margin-top: 0;
    margin-bottom: 1rem;
}

img { 
    vertical-align: middle;
    max-width: 100%;
    max-height: 100%;
}

a {
    text-decoration: none;
    color: var(--accentColor);
}

a:hover, input[type=submit]:hover {
    color: var(--primaryColor);
    background-color: var(--accentColor);
}

a:active, input[type=submit]:active {
    color: var(--accentColor);
    background-color: var(--primaryColor);
}

ul {
    padding: 0;
    list-style-type: none;
}

h1 { font-size: 55px; }
h2 { font-size: 40px; }
h3 { font-size: 35px; }
h4 { font-size: 28px; }
h5 { font-size: 21px; }

/*******
Sections
********/

.s1, .s2, .s4 { background-color: var(--primaryColor); }

.s3, .s5 { background-color: var(--secondaryColor); }

.s5 * {
    font-size: 13px;
    line-height: 10%;
}

/*************
Main container
**************/

.main-container {
    width: 1200px;
    margin: 0 auto;
    padding: 1%;
}

/*************
Navigation bar
**************/

.navi-bar {
    display: flex;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
}

.btnNav {
    width: 100px;
    padding: 7px;
    display: inline-block;
    /* border: 1px solid var(--accentColor); */
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

.hamburger { display: none; }

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.nav-right {
    display: flex;
    align-items: center;
    margin-top: 1%;
}

.nav-right>p { font-size: 15px; }

/* Toggle switch */

.switch {
    position: relative;
    display: inline-block;
    width: 47px;
    height: 21px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--secondaryColor);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 4px;
    bottom: 4px;
    background-color: var(--accentColor);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: var(--primaryTextColor);
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
  
/* Rounded sliders */
.slider.round {
border-radius: 34px;
}

.slider.round:before {
border-radius: 50%;
}
/*************************
S1 content/ About content 
**************************/

.about-wrapper {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
}

.about-left {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.about-right { padding: 10px; }

.about-title {
    text-align: center;
    border-bottom: 1px solid var(--primaryTextColor);
}

.face-plant { margin-bottom: 5%; }

.face-plant>img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
}

.info { margin-bottom: 2%; }

.info-icon {
    position: relative;
    top: 5px;
}

/****
Cards
*****/

.content-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-evenly;
}

.body-card {
    position: relative;
    justify-self: center;
    /* grid property */
    display: flex;
    flex-direction: column;
    background-color: var(--primaryColor);
    width: 95%;
    height: 300px;
    padding: 1em;
    margin: 3%
}

.title-card {
    margin-bottom: 1%;
    font-weight: 600;
    font-size: 20px;
    border-bottom: 1px solid var(--primaryTextColor);
}

.tags-card {
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 13px;
    margin-left: 4.5%;
    margin-bottom: 12%;
}

.showmore-card {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 13px;
    margin-right: 4.5%;
    margin-bottom: 4%;
}

.showmore-card>a:hover {
    background: transparent;
    color: var(--primaryTextColor);
}

.pages-cards {
    text-align: center;
    margin-top: 1%;
}

.pages-cards>a {
    display: inline-block;
    width: 30px;
    padding: 2px;
    border: 1px solid var(--accentColor);
    border-radius: 5px;
    cursor: pointer;
}

/***********
Contact Form
************/

form {
    position: relative;
    min-height: 440px;
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
}

input, textarea {
    width: 100%;
    padding: 0.5em;
    margin-top: 0;
    border: 1px solid var(--accentColor);
    border-radius: 5px;
    margin-bottom: 1%;
    background-color: var(--primaryColor);
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

input[type=submit] {
    width: 21%;
    color: var(--accentColor);
    background-color: transparent;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-form>form>input[type=submit] {
    position: absolute;
    left: 0;
    bottom: 0;
}

input::placeholder, textarea::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--secondaryColor);
    opacity: 1;
    /* Firefox */
}

input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: var(--secondaryColor);
}

input::-ms-input-placeholder {
    /* Microsoft Edge */
    color: var(--secondaryColor);
}

/*****
Footer
******/

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
}

.footer-left {
    display: flex;
    flex-direction: column;
}

.footer-left>p>a {
    color: var(--primaryTextColor);
    text-decoration-line: underline;
}

.footer-left>p>a:hover {
    background-color: transparent;
    color: var(--accentColor);
    text-decoration-line: underline;
}

.footer-right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1%;
}

.footer-right-col1>a:hover {
    background-color: transparent;
    color: var(--primaryTextColor);
}

.footer-right-col2>a {
    color: var(--primaryTextColor);
    text-decoration: underline;
    font-size: 13px;
    font-weight: bold;
    margin-left: 8px;
}

.footer-right-col2>a:hover {
    background-color: transparent;
    color: var(--accentColor);
}

/************ 
Media Queries
*************/

/* For laptop screens */

@media screen and (max-width: 1200px) {
    .main-container { width: 100%; }
}

/* For phone screens */

@media only screen and (min-width: 320px) and (max-width: 800px) {
    /* Navbar */
    .nav-left {
        position: fixed;
        left: -100%;
        top: 6%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: var(--secondaryColor);
        width: 100%;
        border: 1px solid var(--accentColor);
        border-radius: 10px;
        transition: 0.3s;
    }
    .btnNav {
        width: 100%;
        border-radius: unset;
        border: unset;
    }
    .btnNav:not(:last-child) {
        border-bottom: 1px solid var(--accentColor);
    }
    .nav-left.active { left: 0; }
    .hamburger {
        display: block;
        cursor: pointer;
    }
    /* S2/About */
    .about-wrapper, .content-cards {
        grid-template-columns: 1fr;
    }
    .about-left { align-items: center; }
    /* Forms */
    form { width: 100%; }
    input, textarea, input[type=submit] { width: 100%; }
    /* Cards */

    .tags-card {
        margin-bottom: 2%;
        margin-left: 3%;
    }
    .showmore-card {
        margin-bottom: 2%;
        margin-right: 3%;
    }
    /* Footer */
    .footer-wrapper {
        display: flex;
        flex-direction: column-reverse;
    }
    .footer-right {
        margin-top: 3%;
        flex-direction: unset;
        justify-content: space-between;
    }
    .footer-left { margin-top: 5%; }
}